.shared-container {
  padding: 50px 90px;
}

.left-section {
  flex-basis: 45%;
}

.right-section {
  flex-basis: 45%;
}

.home-main {
  background-image: url('../assests/images/hospital.jpg'); 
}

.appointments-main {
  background-image: url('../assests/images/appoint.jpeg'); 
}

.billing-main {
  background-image: url('../assests/images/billing.png'); 
}

.plans-main {
  background-image: url('../assests/images/plan.png'); 
}

.history-main {
  background-image: url('../assests/images/history.jpg'); 
}

.background-main {
  height: 325px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position:center ; 
}

.right-section {
  .image {
    height: 387px;
    position: relative;
    background-size: cover;
    background-image: url('../assests/images/appointments-right-section.jpg'); 
  }

  .history-image {
    height: 500px;
    position: relative;
    background-size: cover;
    background-image: url('../assests/images/patient-history.png'); 
  }
}

.form-first {
  flex-basis: 40%;
}

.form-second {
  flex-basis: 50%;
}

.btn-primary {
  background-color: #01a998 !important;
  border-color: #01a998 !important;
}

.main-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for the desired overlay opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay img {
  width: 200px;
  height: 200px;
}
